In [ ]:
#wikipedia web scraper

In [1]:
from bs4 import BeautifulSoup

In [2]:
import requests

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
#url = 'https://www.bls.gov/news.release/jltst.t05.htm'

In [4]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html')

In [5]:
x = list(soup.find_all('table'))
table100 = x[0]
#table100
#table100 = soup.find_all('table')[1]

In [6]:
h = table100.find_all('th')

In [7]:
headers = [head.text.strip() for head in h]
print(headers)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [8]:
import pandas as pd
df = pd.DataFrame(columns = headers)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [9]:
rs = table100.find_all('tr')

In [10]:
for row in rs[1:]:
    r_data = row.find_all('td')
    each_single_row = [data.text.strip() for data in r_data]
    print(each_single_row)
    length = len(df)
    df.loc[length] = each_single_row

['1', 'Walmart', 'Retail', '648,125', '6.0%', '2,100,000', 'Bentonville, Arkansas']
['2', 'Amazon', 'Retail and cloud computing', '574,785', '11.9%', '1,525,000', 'Seattle, Washington']
['3', 'Apple', 'Electronics industry', '383,482', '-2.8%', '161,000', 'Cupertino, California']
['4', 'UnitedHealth Group', 'Healthcare', '371,622', '14.6%', '440,000', 'Minnetonka, Minnesota']
['5', 'Berkshire Hathaway', 'Conglomerate', '364,482', '20.7%', '396,500', 'Omaha, Nebraska']
['6', 'CVS Health', 'Healthcare', '357,776', '10.9%', '259,500', 'Woonsocket, Rhode Island']
['7', 'ExxonMobil', 'Petroleum industry', '344,582', '-16.7%', '61,500', 'Spring, Texas']
['8', 'Alphabet', 'Technology and cloud computing', '307,394', '8.7%', '182,502', 'Mountain View, California']
['9', 'McKesson Corporation', 'Health', '276,711', '4.8%', '48,000', 'Irving, Texas']
['10', 'Cencora', 'Pharmacy wholesale', '262,173', '9.9%', '44,000', 'Conshohocken, Pennsylvania']
['11', 'Costco', 'Retail', '242,290', '6.8%', '316,000', 'Issaquah, Washington']
['12', 'JPMorgan Chase', 'Financial services', '239,425', '54.7%', '309,926', 'New York City, New York']
['13', 'Microsoft', 'Technology and cloud computing', '211,915', '6.9%', '221,000', 'Redmond, Washington']
['14', 'Cardinal Health', 'Healthcare', '205,012', '13.0%', '47,520', 'Dublin, Ohio']
['15', 'Chevron Corporation', 'Petroleum industry', '200,949', '-18.4%', '45,600', 'Houston, Texas']
['16', 'Cigna', 'Health insurance', '195,265', '8.2%', '71,413', 'Bloomfield, Connecticut']
['17', 'Ford Motor Company', 'Automotive industry', '176,191', '11.5%', '177,000', 'Dearborn, Michigan']
['18', 'Bank of America', 'Financials', '171,912', '49.4%', '212,985', 'Charlotte, North Carolina']
['19', 'General Motors', 'Automotive industry', '171,842', '9.6%', '163,000', 'Detroit, Michigan']
['20', 'Elevance Health', 'Healthcare', '171,340', '9.4%', '104,900', 'Indianapolis, Indiana']
['21', 'Citigroup', 'Financials', '156,820', '55.1%', '237,925', 'New York City, New York']
['22', 'Centene', 'Healthcare', '153,999', '6.5%', '67,700', 'St. Louis, Missouri']
['23', 'The Home Depot', 'Retail', '152,669', '-3.0%', '463,100', 'Atlanta, Georgia']
['24', 'Marathon Petroleum', 'Petroleum industry', '150,307', '-16.5%', '18,200', 'Findlay, Ohio']
['25', 'Kroger', 'Retail', '150,039', '-3.6%', '414,000', 'Cincinnati, Ohio']
['26', 'Phillips 66', 'Petroleum industry', '149,890', '-14.7%', '14,000', 'Houston, Texas']
['27', 'Fannie Mae', 'Financials', '141,240', '16.2%', '8,100', 'Washington, D.C.']
['28', 'Walgreens Boots Alliance', 'Pharmaceutical industry', '139,081', '4.8%', '268,500', 'Deerfield, Illinois']
['29', 'Valero Energy', 'Petroleum industry', '139,001', '-18.8%', '9,987', 'San Antonio, Texas']
['30', 'Meta Platforms', 'Technology', '134,902', '15.7%', '67,317', 'Menlo Park, California']
['31', 'Verizon Communications', 'Telecommunications', '133,974', '-2.1%', '105,400', 'New York City, New York']
['32', 'AT&T', 'Conglomerate and telecommunications', '122,428', '1.4%', '150,470', 'Dallas, Texas']
['33', 'Comcast', 'Telecommunications', '121,572', '0.1%', '186,000', 'Philadelphia, Pennsylvania']
['34', 'Wells Fargo', 'Financials', '115,340', '39.2%', '226,000', 'San Francisco, California']
['35', 'Goldman Sachs', 'Financials', '108,418', '57.8%', '45,300', 'New York City, New York']
['36', 'Freddie Mac', 'Financials', '108,050', '24.6%', '8,020', 'McLean, Virginia']
['37', 'Target Corporation', 'Retail', '107,412', '-1.6%', '415,000', 'Minneapolis, Minnesota']
['38', 'Humana', 'Health insurance', '106,374', '14.5%', '67,600', 'Louisville, Kentucky']
['39', 'State Farm', 'Financials', '104,199', '16.6%', '65,054', 'Bloomington, Illinois']
['40', 'Tesla', 'Automotive and energy', '96,773', '18.8%', '140,473', 'Austin, Texas']
['41', 'Morgan Stanley', 'Financials', '96,194', '45.9%', '80,006', 'New York City, New York']
['42', 'Johnson & Johnson', 'Pharmaceutical industry', '95,195', '0.3%', '131,900', 'New Brunswick, New Jersey']
['43', 'Archer Daniels Midland', 'Food industry', '93,935', '-7.5%', '41,008', 'Chicago, Illinois']
['44', 'PepsiCo', 'Beverage', '91,471', '5.9%', '318,000', 'Purchase, New York']
['45', 'United Parcel Service', 'Transportation', '90,958', '-9.3%', '382,550', 'Atlanta, Georgia']
['46', 'FedEx', 'Transportation', '90,155', '-3.6%', '446,400', 'Memphis, Tennessee']
['47', 'The Walt Disney Company', 'Media', '88,898', '7.5%', '199,125', 'Burbank, California']
['48', 'Dell Technologies', 'Technology', '88,425', '-13.6%', '120,000', 'Round Rock, Texas']
['49', "Lowe's", 'Retail', '86,377', '-11.0%', '226,000', 'Mooresville, North Carolina']
['50', 'Procter & Gamble', 'Consumer products manufacturing', '82,006', '2.3%', '107,000', 'Cincinnati, Ohio']
['51', 'Energy Transfer Partners', 'Petroleum industry', '78,586', '-12.6%', '13,786', 'Dallas, Texas']
['52', 'Boeing', 'Aerospace and defense', '77,794', '16.8%', '171,000', 'Arlington County, Virginia']
['53', 'Albertsons', 'Retail', '77,650', '8.0%', '198,650', 'Boise, Idaho']
['54', 'Sysco', 'Food service', '76,325', '11.2%', '71,750', 'Houston, Texas']
['55', 'RTX Corporation', 'Conglomerate', '68,920', '2.8%', '185,000', 'Arlington County, Virginia']
['56', 'General Electric', 'Conglomerate', '67,954', '-11.2%', '125,000', 'Boston, Massachusetts']
['57', 'Lockheed Martin', 'Aerospace and defense', '67,571', '2.4%', '122,000', 'Bethesda, Maryland']
['58', 'American Express', 'Financial', '67,364', '21.1%', '74,600', 'New York City, New York']
['59', 'Caterpillar', 'Machinery', '67,060', '12.8%', '113,200', 'Irving, Texas']
['60', 'MetLife', 'Financials', '66,905', '-4.3%', '45,000', 'New York City, New York']
['61', 'HCA Healthcare', 'Healthcare', '64,968', '7.9%', '265,000', 'Nashville, Tennessee']
['62', 'Progressive Corporation', 'Insurance', '62,109', '25.2%', '61,432', 'Mayfield Village, Ohio']
['63', 'IBM', 'Technology and cloud computing', '61,860', '-16.3%', '296,600', 'Armonk, New York']
['64', 'John Deere', 'Agriculture manufacturing', '61,251', '16.5%', '82,956', 'Moline, Illinois']
['65', 'Nvidia', 'Technology', '60,922', '125.9%', '29,600', 'Santa Clara, California']
['66', 'StoneX Group', 'Financials', '60,856', '-7.8%', '4,137', 'New York City, New York']
['67', 'Merck & Co.', 'Pharmaceutical industry', '60,115', '1.4%', '71,000', 'Kenilworth, New Jersey']
['68', 'ConocoPhillips', 'Petroleum industry', '58,574', '-28.7%', '9,900', 'Houston, Texas']
['69', 'Pfizer', 'Pharmaceutical industry', '58,496', '-41.7%', '88,000', 'New York City, New York']
['70', 'Delta Air Lines', 'Airline', '58,048', '14.8%', '103,000', 'Atlanta, Georgia']
['71', 'TD Synnex', 'Infotech', '57,555', '-7.7%', '28,000', 'Clearwater, Florida']
['72', 'Publix', 'Retail', '57,534', '4.7%', '253,000', 'Lakeland, Florida']
['73', 'Allstate', 'Insurance', '57,094', '11.1%', '53,200', 'Northfield Township, Cook County, Illinois']
['74', 'Cisco', 'Telecom hardware manufacturing', '56,998', '10.6%', '84,900', 'San Jose, California']
['75', 'Nationwide Mutual Insurance Company', 'Financial', '54,609', '6.1%', '24,118', 'Columbus, Ohio']
['76', 'Charter Communications', 'Telecommunications', '54,607', '1.1%', '101,100', 'Stamford, Connecticut']
['77', 'AbbVie', 'Pharmaceutical industry', '54,317', '-6.4%', '50,000', 'Lake Bluff, Illinois']
['78', 'New York Life Insurance Company', 'Insurance', '54,317', '14.2%', '15,384', 'New York City, New York']
['79', 'Intel', 'Technology', '54,228', '-14.0%', '124,800', 'Santa Clara, California']
['80', 'TJX', 'Retail', '49,936', '2.9%', '329,000', 'Framingham, Massachusetts']
['81', 'Prudential Financial', 'Financials', '53,979', '-10.1%', '40,366', 'Newark, New Jersey']
['82', 'HP', 'Technology', '53,718', '-14.5%', '58,000', 'Palo Alto, California']
['83', 'United Airlines', 'Airline', '53,717', '19.5%', '103,300', 'Chicago, Illinois']
['84', 'Performance Food Group', 'Food processing', '53,355', '13.1%', '34,825', 'Richmond, Virginia']
['85', 'Tyson Foods', 'Food processing', '52,788', '-0.8%', '139,000', 'Springdale, Arkansas']
['86', 'American Airlines', 'Airline', '52,788', '7.8%', '132,100', 'Fort Worth, Texas']
['87', 'Liberty Mutual', 'Insurance', '52,612', '5.3%', '45,000', 'Boston, Massachusetts']
['88', 'Nike', 'Apparel', '51,217', '9.6%', '83,700', 'Beaverton, Oregon']
['89', 'Oracle Corporation', 'Technology', '49,954', '17.7%', '164,000', 'Austin, Texas']
['90', 'Enterprise Products', 'Petroleum industry', '49,715', '-14.6%', '7,500', 'Houston, Texas']
['91', 'Capital One Financial', 'Financials', '49,484', '29.0%', '51,987', 'Richmond, Virginia']
['92', 'Plains All American Pipeline', 'Petroleum industry', '48,712', '-15.1%', '4,200', 'Houston, Texas']
['93', 'World Kinect Corporation', 'Energy trading', '47,711', '-19.2%', '5,289', 'Doral, Florida']
['94', 'AIG', 'Insurance', '46,802', '-17.1%', '25,200', 'New York City, New York']
['95', 'Coca-Cola', 'Beverage', '45,754', '6.4%', '79,100', 'Atlanta, Georgia']
['96', 'TIAA', 'Financials', '45,735', '11.8%', '16,023', 'New York City, New York']
['97', 'CHS', 'Agriculture cooperative', '45,590', '-4.6%', '10,609', 'Inver Grove Heights, Minnesota']
['98', 'Bristol-Myers Squibb', 'Pharmaceutical industry', '45,006', '-2.5%', '34,100', 'New York City, New York']
['99', 'Dow Chemical Company', 'Chemical industry', '44,622', '-21.6%', '35,900', 'Midland, Michigan']
['100', 'Best Buy', 'Retail', '43,452', '-6.1%', '85,000', 'Richfield, Minnesota']

In [11]:
df.to_csv('C:/UNISA/STA1610/WIKI_DATA.csv', index = False)

In [12]:
df[df['Rank'] == '10']

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
9,10,Cencora,Pharmacy wholesale,"262,173",9.9%,"44,000","Conshohocken, Pennsylvania"

In [2]:
import re
from bs4 import BeautifulSoup
import requests
import pandas as pd
site = 'https://www.amazon.co.za' #amazon.co.za
url = site + '/s?k=samsung&ref=nb_sb_noss' #Site Extension
response = requests.get(url)
soup2 = BeautifulSoup(response.content, 'html.parser')
soup = BeautifulSoup(soup2.prettify(), 'html.parser')
dontstop = True
counter = 0

headers = ['Name', 'Price', 'Rating', 'URL Link', 'Rating Count']
df = pd.DataFrame(columns = headers)

while dontstop:
    x = soup.find_all('div', class_ = "s-asin")
    count = len(x)
    for i in range(count):
        data = []
    #DATA
        x = soup.find_all('div', class_ = "s-asin")
        items = x[i]
    #NAME
        name = items.find('h2')#.text.strip()
        if name is None:
            name = 'N/A'
        else:
            name = name.text.strip()
        name = str(name)
        #print('Name: ', name)
        data.append(name)
    #PRICE
        a = items.find('span', class_ = "a-price")
        '''if a is None:
            a = '0,000.00'
        else:
            a = a.text'''
        if a is None:
            a = items.find('span', class_ = "a-color-base")
            if a is None:
                a = '0,000.00'
            else:
                a = a.text
        else:
            a = a.text
        b = re.findall(r'\d{1,3},?\d{1,3}\.\d{2}', a)
        c = b[0].replace(",", "")
        price = float(c)
        if price == 0:
            price = 'N/A'
        else:
            price = "{:.2f}".format(price)
        #print('Price: ', price)
        data.append(price)
    #RATING
        rating = items.find('span', class_ = "a-icon-alt")#.text.strip()
        if rating is None:
            rating = 'N/A'
        else:
            rating = rating.text.strip()
        rating = str(rating)
        #print('Rating: ', rating)
        data.append(rating)
        #URL
        u = items.find('a', href = True)
        if (u == None) or ('#customerReviews' in u) or ('javascript:void' in u):
            item_url = 'N/A'
        else:
            item_url = u['href']
            item_url = site + item_url
        item_url = str(item_url)
        #print('Site: ', item_url)
        data.append(item_url)
        counter = counter + 1
        #print(counter)
        #print('')
    #RATING_COUNT
        rating_c = items.find('span', class_ = "a-size-base")#.text.strip()
        if rating_c is None:
            rating_c = 'N/A'
        else:
            rating_c = rating_c.text.strip()
            try:
                rating_c = int(rating_c)
            except:
                rating_c = 'N/A'
        rating_c = str(rating_c)
        #print('Rating Count: ', rating_c)
        data.append(rating_c)
    #ABOUT
        '''item_response = requests.get(item_url)
        item_soup2 = BeautifulSoup(item_response.content, 'html.parser')
        item_soup = BeautifulSoup(item_soup2.prettify(), 'html.parser')
        about_item = ""
        item_a = item_soup.find_all('li', class_ = "a-spacing-mini")
        about_count = 0
        if item_a == None:
            about_item = 'N/A'
        else:
            for abouts in item_a:
                about_item = about_item + abouts.text.strip()
                about_count = about_count + 1
                if about_count < len(item_a):
                    about_item = about_item + "; "
        data.append(about_item)''' # TOO LONG TO RUN EACH ITEM
        length = len(df)
        df.loc[length] = data
        
    n = soup.find('a', class_ = "s-pagination-next")
    if n == None:
        dontstop = False
    else:
        nxt = n['href']
        nxt = site + nxt
        url = nxt
        response = requests.get(url)
        soup2 = BeautifulSoup(response.content, 'html.parser')
        soup = BeautifulSoup(soup2.prettify(), 'html.parser')

df

,Name,Price,Rating,URL Link,Rating Count
0,"Samsung Galaxy Fit3 Smart Watch, Grey",999.00,4.1 out of 5 stars,https://www.amazon.co.za/Samsung-Galaxy-Fit3-S...,15
1,SAMSUNG A05 64GB DS BLACK LTE,1799.00,4.0 out of 5 stars,https://www.amazon.co.za/SAMSUNG-A05-64GB-BLAC...,5
2,"Samsung Galaxy Buds FE Earbuds, Graphite",999.00,4.2 out of 5 stars,https://www.amazon.co.za/Samsung-Galaxy-Buds-E...,9
3,Samsung Galaxy A35 128GB 5G Dual Sim Smartphon...,5264.00,5.0 out of 5 stars,https://www.amazon.co.za/Samsung-Galaxy-128GB-...,2
4,Samsung Galaxy S24 FE 128GB 5G Dual SIM Smartp...,13714.44,4.0 out of 5 stars,https://www.amazon.co.za/Samsung-Galaxy-128GB-...,1
...,...,...,...,...,...
301,Samsung Galaxy A13 Case Phone Covers 2 Piece S...,149.00,N/A,https://www.amazon.co.za/Samsung-Galaxy-Covers...,N/A
302,"Exploring Galaxy Tab S4: The Illustrated, Prac...",931.00,4.3 out of 5 stars,https://www.amazon.co.za/Exploring-Galaxy-Tab-...,N/A
303,URBAN ARMOR GEAR Scout Mobile Case for Samsung...,259.00,3.7 out of 5 stars,https://www.amazon.co.za/URBAN-ARMOR-GEAR-Sams...,8
304,PanzerGlass™ | Samsung Galaxy A35 | Screen Pro...,199.00,N/A,https://www.amazon.co.za/PanzerGlassTM-Samsung...,N/A
305,Screen Protector For Samsung Galaxy A35/55 - T...,147.00,N/A,https://www.amazon.co.za/Screen-Protector-Sams...,N/A

In [27]:
srows = df[(df['Rating Count'] == 'N/A') & (df['Rating'] != 'N/A')]
srows

,Name,Price,Rating,URL Link,Rating Count
18,Samsung Galaxy A14 4G 64GB black,2979.00,4.4 out of 5 stars,https://www.amazon.co.za/Samsung-Galaxy-A14-64...,N/A
19,Samsung Galaxy A14 4G 64GB Silver,2995.00,4.4 out of 5 stars,https://www.amazon.co.za/Samsung-Galaxy-A14-64...,N/A
28,SAMSUNG Galaxy Watch 6 40mm Bluetooth Smartwat...,4799.00,4.4 out of 5 stars,https://www.amazon.co.za/SAMSUNG-Bluetooth-Sma...,N/A
36,Samsung 980 250GB NVMe M.2 Solid State Drive,1050.00,4.6 out of 5 stars,https://www.amazon.co.za/Samsung-250GB-Solid-S...,N/A
39,Sam Galaxy A34 5G EU-128-6-5G-gy Sams Galaxy A...,5299.00,4.5 out of 5 stars,https://www.amazon.co.za/Galaxy-EU-128-6-5G-gy...,N/A
41,Samsung 870 EVO 1TB SATA III Solid State Drive,2199.00,4.6 out of 5 stars,https://www.amazon.co.za/Samsung-SATA-Solid-St...,N/A
51,My Samsung Galaxy S III,350.00,4.3 out of 5 stars,https://www.amazon.co.za/My-Samsung-Galaxy-S-I...,N/A
59,Samsung 870 EVO 500GB SATA III Solid State Drive,1373.00,4.7 out of 5 stars,https://www.amazon.co.za/Samsung-500GB-Solid-S...,N/A
81,Samsung 45W 1 Port PD Travel Adapter with Type...,799.00,4.6 out of 5 stars,https://www.amazon.co.za/Samsung-Travel-Adapte...,N/A
91,Samsung Official 45W USB-C Super Fast Charging...,795.00,4.5 out of 5 stars,https://www.amazon.co.za/Samsung-Official-USB-...,N/A
103,Samsung Galaxy S24 Silicone Case-Green,349.00,4.4 out of 5 stars,https://www.amazon.co.za/Samsung-Galaxy-S24-Si...,N/A
107,Samsung Galaxy S4 Owner's Manual: Your Quick R...,838.13,3.4 out of 5 stars,https://www.amazon.co.za/Samsung-Galaxy-Owners...,N/A
116,Samsung Odyssey G55T UWQHD 165Hz Gaming Monito...,13048.00,4.2 out of 5 stars,https://www.amazon.co.za/Samsung-Odyssey-Gamin...,N/A
120,SAMSUNG Galaxy S24 Ultra Standing Grip Phone C...,781.37,4.4 out of 5 stars,https://www.amazon.co.za/SAMSUNG-Standing-Prot...,N/A
146,Samsung Evo Plus 512GB MicroSDXC Memory Card,1299.00,4.7 out of 5 stars,https://www.amazon.co.za/Samsung-Plus-512GB-Mi...,N/A
160,"Exploring Galaxy Tab S4: The Illustrated, Prac...",931.00,4.3 out of 5 stars,https://www.amazon.co.za/Exploring-Galaxy-Tab-...,N/A
171,Samsung Micro SD 512GB PRO Plus,1449.00,4.7 out of 5 stars,https://www.amazon.co.za/Samsung-Micro-512GB-P...,N/A
190,SAMSUNG T7 Portable SSD 1TB - Up to 1050MB/s -...,3902.00,4.8 out of 5 stars,https://www.amazon.co.za/SAMSUNG-Portable-SSD-...,N/A
206,Samsung 980 1TB NVMe M.2 Solid State Drive,2199.00,4.8 out of 5 stars,https://www.amazon.co.za/Samsung-NVMe-Solid-St...,N/A
209,"Wireless Charging Station, 4 in 1 Multi Charge...",499.00,3.6 out of 5 stars,https://www.amazon.co.za/Wireless-Charging-Sta...,N/A
210,Samsung Galaxy S4 Owner's Manual: Your Quick R...,838.13,3.4 out of 5 stars,https://www.amazon.co.za/Samsung-Galaxy-Owners...,N/A
225,Samsung 15W Wireless Charger Stand,1349.00,4.7 out of 5 stars,https://www.amazon.co.za/Samsung-15W-Wireless-...,N/A
260,FINTIE Case for Samsung Galaxy Tab S6 Lite 10....,203.97,4.6 out of 5 stars,https://www.amazon.co.za/FINTIE-Samsung-SM-P61...,N/A
263,Android Tablets Made Simple: For Motorola XOOM...,1451.00,3.9 out of 5 stars,https://www.amazon.co.za/Android-Tablets-Made-...,N/A

In [17]:
        rating_c = items.find('span', class_ = "a-size-base")#.text.strip()
        if rating_c is None:
            rating_c = 'N/A'
        else:
            rating_c = rating_c.text.strip()
        rating_c = str(rating_c)
        #print('Rating: ', rating)

Rating:  N/A